@(products: List[Map[String, String]], message: String, page: Integer)

@layout {


    <div class="container">
        <div class="jumbotron">
            <h1>Ed's product search</h1>
            <p>This page will find you products you want.</p>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="text" id="keywordInput" class="form-control" >
                <button type="button" class="btn btn-success" onclick="loadDoc(1)">Find</button>
            </div>
        </div>

        <div id="products">
        @productItems(products, page)
        </div>
    </div>

    <script>
            function loadDoc(page) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("products").innerHTML = this.responseText;
                    }
                };
                var k = document.getElementById("keywordInput").value;
                xhttp.open("GET", "/products/searchAjax?keyword=" + k + "&page=" + page, true);
                xhttp.send();
            }
    </script>
}