@(product: Map[String, String])

<div class="col-md-4">
    <div class="thumbnail">

        <!-- img src="http://placehold.it/350x222" alt=""-->
        <img src="@{product.get("imageUrl")}" alt="">
        <div class="caption">
            <h4 class="pull-right">$ @product.get("price")</h4>
            <h4>@product.get("name")</h4>
            <p>@product.get("description")</p>
        </div>
        <!--div class="ratings">
            <p class="pull-right">15 reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </p>
        </div-->
    </div>
</div>