@(products: List[Map[String,String]], page : Integer)

@if(products != null) {

    <div class="row">

        <ul class="pager">
            @if(page > 1) {
                <li class="previous"><button type="button" class="btn .btn-default" onclick="loadDoc(@{page-1})">Previous</button></li>

            } else {
                <li class="previous"><button type="button" class="btn .btn-default disabled" onclick="loadDoc(@{page-1})">Previous</button></li>
            }

            <li class="next"><button class="btn .btn-default" type="button" onclick="loadDoc(@{page+1})">Next</button></li>
        </ul>
    </div>

    @for(productGroup <- products.grouped(3)) {
        <div class="row">
        @for(product <- productGroup) {
            @productItem(product)
        }
        </div>
    }

}